In [1]:
#importing the Libraies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Reading the Dataset
dataset = pd.read_csv('Social_Network_Ads.csv')

In [3]:
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [5]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [6]:
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0         True
1    15810944   35            20000          0         True
2    15668575   26            43000          0        False
3    15603246   27            57000          0        False
4    15804002   19            76000          0         True
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1        False
396  15706071   51            23000          1         True
397  15654296   50            20000          1        False
398  15755018   36            33000          0         True
399  15594041   49            36000          1        False

[400 rows x 5 columns]

In [7]:
indep=dataset[['Age', 'EstimatedSalary','Gender_Male']]
dep=dataset['Purchased']

In [8]:
#split into training set and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(indep, dep, test_size = 1/3, random_state = 0)

In [9]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [10]:
from sklearn.tree import DecisionTreeClassifier

In [11]:
#https://scikit-learn.org/stable/modules/model_evaluation.html#scoring-parameter

In [12]:
from sklearn.model_selection import GridSearchCV

param_grid = {'criterion':['gini','entropy'],
              'max_features': ['auto','sqrt','log2'],
              'splitter':['best','random']} 



grid = GridSearchCV(DecisionTreeClassifier(), param_grid, refit = True, verbose = 3,n_jobs=-1,scoring='f1_weighted') 
   
# fitting the model for grid search 
grid.fit(X_train, y_train)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

GridSearchCV(estimator=DecisionTreeClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             scoring='f1_weighted', verbose=3)

In [13]:
# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
#print(re)
grid_predictions = grid.predict(X_test) 
   

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, grid_predictions)



# print classification report 
from sklearn.metrics import classification_report
clf_report = classification_report(y_test, grid_predictions)

In [14]:

from sklearn.metrics import f1_score
f1_macro=f1_score(y_test,grid_predictions,average='weighted')
print("The f1_macro value for best parameter {}:".format(grid.best_params_),f1_macro)

The f1_macro value for best parameter {'criterion': 'gini', 'max_features': 'sqrt', 'splitter': 'best'}: 0.9035544988049615

In [15]:
print("The confusion Matrix:\n",cm)

The confusion Matrix:
 [[77  8]
 [ 5 44]]

In [16]:
print("The report:\n",clf_report)

The report:
               precision    recall  f1-score   support

           0       0.94      0.91      0.92        85
           1       0.85      0.90      0.87        49

    accuracy                           0.90       134
   macro avg       0.89      0.90      0.90       134
weighted avg       0.91      0.90      0.90       134

In [17]:
from sklearn.metrics import roc_auc_score

roc_auc_score(y_test,grid.predict_proba(X_test)[:,1])

0.9019207683073229

In [18]:
table=pd.DataFrame.from_dict(re)

In [19]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.005416,0.004468,0.007445,0.002951,gini,auto,best,"{'criterion': 'gini', 'max_features': 'auto', ...",0.867478,0.870047,0.814409,0.851527,0.885265,0.857746,0.024166,2
1,0.002839,0.004727,0.008459,0.001511,gini,auto,random,"{'criterion': 'gini', 'max_features': 'auto', ...",0.867478,0.849057,0.735849,0.867097,0.886792,0.841255,0.054038,6
2,0.001610,0.003219,0.008058,0.003115,gini,sqrt,best,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.867478,0.795789,0.832483,0.906166,0.923510,0.865085,0.046844,1
3,0.005141,0.003265,0.002477,0.002773,gini,sqrt,random,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.871093,0.787284,0.833323,0.832483,0.868632,0.838563,0.030517,8
4,0.003525,0.003842,0.004432,0.004660,gini,log2,best,"{'criterion': 'gini', 'max_features': 'log2', ...",0.799620,0.849057,0.813179,0.886792,0.865054,0.842741,0.032285,5
5,0.003143,0.004453,0.003240,0.003968,gini,log2,random,"{'criterion': 'gini', 'max_features': 'log2', ...",0.808927,0.831253,0.814409,0.796284,0.841025,0.818379,0.015949,12
6,0.002708,0.001851,0.004931,0.003202,entropy,auto,best,"{'criterion': 'entropy', 'max_features': 'auto...",0.826263,0.849057,0.814409,0.851527,0.831098,0.834471,0.014035,10
7,0.003798,0.003186,0.007224,0.002348,entropy,auto,random,"{'criterion': 'entropy', 'max_features': 'auto...",0.829615,0.889022,0.770530,0.865054,0.883278,0.847500,0.043719,4
8,0.002900,0.000801,0.004796,0.001599,entropy,sqrt,best,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.804764,0.850809,0.814409,0.832483,0.886792,0.837851,0.029108,9
9,0.002799,0.000748,0.004099,0.000204,entropy,sqrt,random,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.799620,0.849057,0.793565,0.887907,0.867097,0.839449,0.037139,7
10,0.002998,0.000632,0.006996,0.004558,entropy,log2,best,"{'criterion': 'entropy', 'max_features': 'log2...",0.804764,0.868752,0.775815,0.886792,0.826499,0.832524,0.040695,11
11,0.003403,0.001354,0.005164,0.001475,entropy,log2,random,"{'criterion': 'entropy', 'max_features': 'log2...",0.885356,0.813511,0.796687,0.869709,0.885265,0.850106,0.037565,3